* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 62.5% de 16px = 10px */
    scroll-behavior: smooth;
}

:root {
    --turquesa-escuro: #103b34;
    --hover: #39867c;
    --verde-claro: #e6ecc2;
}

body {
    font-family: 'Inria Sans', sans-serif;
}


.left-image {
    width: 40%;
    height: 100vh;
    background-image: url("/imagens/login.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
}

section {
    margin-left: 40vw;
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 4rem;
}

.header button {
    background-color: white;
    border: solid, 0.1rem, black;
    border-radius: 0.6rem;
    padding: .5rem;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

.header p {
    margin-right: 1rem;
}

.header .seta {
    border: none;
}

.seta {
    margin-right: 46rem;
    cursor: pointer;
}

.header img {
    width: 4rem;
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 7rem;
    margin-top: 1rem;
    color: rgb(95, 93, 93);
}

.form {
    margin-top: 3rem;
}

label {
    display: block;
    font-size: 4rem;
}

.form button {
    margin-top: 2rem;
    background-color: var(--turquesa-escuro);
    color: white;
    border: none;
    border-radius: 1.2rem;
    padding: 1.5rem;
    padding-inline: 4rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.form div {
    display: flex;
    justify-content: center;
}

input {
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: var(--verde-claro);
    border: none;
    padding: 1.5rem;
    padding-right: 25%;
    border-radius: 1rem;
}

button:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}